<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/main.css">
  <title>50Apps Week02</title>
  </head>
  <body>
    <center>
    <h3>50 Apps - Week 02</h3>
    <form action="/search" method="post">
      <div>
        <input id="site" type="text" name="site" value="" placeholder="http://www.hackernews.com" />
        <input id="term" type="text" name="term" value="" placeholder="Enter your search term here" />
        <input id="levels" type="text" name="levels" value="" placeholder="Levels (default is 1)" />
        <input name="action" type="hidden" value="search" />
        <input type="submit" value="Search" />
      </div>
    </form>
  </center> 
  {% if action %}
    {% if results %}
      <ul>
        {% for result in results %}
          <li>{{ result }}</li>
        {% endfor %}
      </ul>
    {% else %}
        <p>No results found</p>    
    {% endif %}
  {% endif %}    
  </body>
</html>